package templates


// _loginForm renders the login form.
templ _loginForm(errorString string) {
	if errorString != "" {
		@Alert("danger", errorString)
	}
	<form 
		hx-post="/login"
		hx-target="#login-form-container"
		hx-swap="outerHTML"
		>
		<div class="mb-3">
			<label for="email" class="form-label">Email</label>
			<input type="email" class="form-control" id="email" name="email" required/>
		</div>
		<div class="mb-3">
			<label for="password" class="form-label">Password</label>
			<input type="password" class="form-control" id="password" name="password" required/>
		</div>
		<div class="d-grid">
			<button type="submit" class="btn btn-primary">Login</button>
		</div>
	</form>
	<div class="mt-3 text-center">
		<p>Don't have an account? <a href="/register">Register here</a></p>
	</div>
} 